.khidr {
    color: #006341;
}

.oxblood {
    color: #bb001a;
}

.sun {
     color : #ffff00;
}

.neutral100 {
    color: #000000;
}


.neutral75 {
   color: #333333;
}


.neutral25 {
    color: #f2f2f2;
}

.neutral0 {
    color: #ffffff;
}
