@font-face {
    font-family:'EurostileLTPro-Regular';
    src: url('../fonts/eurostile/EurostileLTPro_latin+latin-ext_gdi.eot');
    src: url('../fonts/eurostile/EurostileLTPro_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/eurostile/EurostileLTPro_latin+latin-ext_gdi.woff') format('woff'),
    url('../fonts/eurostile/EurostileLTPro_latin+latin-ext_gdi.ttf') format('truetype'),
    url('../fonts/eurostile/EurostileLTPro_latin+latin-ext_gdi.svg#EurostileLTPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'EurostileLTPro-Bold';
    src: url('../fonts/eurostile/EurostileLTPro-Bold_latin+latin-ext_gdi.eot');
    src: url('../fonts/eurostile/EurostileLTPro-Bold_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/eurostile/EurostileLTPro-Bold_latin+latin-ext_gdi.woff') format('woff'),
    url('../fonts/eurostile/EurostileLTPro-Bold_latin+latin-ext_gdi.ttf') format('truetype'),
    url('../fonts/eurostile/EurostileLTPro-Bold_latin+latin-ext_gdi.otf') format('opentype'),
    url('../fonts/eurostile/EurostileLTPro-Bold_latin+latin-ext_gdi.svg#EurostileLTPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}


@font-face {
    font-family:'EurostileLTPro-BoldCn';
    src: url('../fonts/eurostile/EurostileLTPro-BoldCn_latin+latin-ext_gdi.eot');
    src: url('../fonts/eurostile/EurostileLTPro-BoldCn_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/eurostile/EurostileLTPro-BoldCn_latin+latin-ext_gdi.woff') format('woff'),
    url('../fonts/eurostile/EurostileLTPro-BoldCn_latin+latin-ext_gdi.ttf') format('truetype'),
    url('../fonts/eurostile/EurostileLTPro-BoldCn_latin+latin-ext_gdi.otf') format('opentype'),
    url('../fonts/eurostile/EurostileLTPro-BoldCn_latin+latin-ext_gdi.svg#EurostileLTPro-BoldCn') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'EurostileLTPro-BoldEx2';
    src: url('../fonts/eurostile/EurostileLTPro-BoldEx2_latin+latin-ext_gdi.eot');
    src: url('../fonts/eurostile/EurostileLTPro-BoldEx2_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/eurostile/EurostileLTPro-BoldEx2_latin+latin-ext_gdi.woff') format('woff'),
    url('../fonts/eurostile/EurostileLTPro-BoldEx2_latin+latin-ext_gdi.ttf') format('truetype'),
    url('../fonts/eurostile/EurostileLTPro-BoldEx2_latin+latin-ext_gdi.otf') format('opentype'),
    url('../fonts/eurostile/EurostileLTPro-BoldEx2_latin+latin-ext_gdi.svg#EurostileLTPro-BoldEx2') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: expanded;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'Archer Book';
    src: url('../fonts/archer/Archer-Book-Pro.otf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'Archer Italic';
    src: url('../fonts/archer/Archer-BookItal-Pro.otf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'Archer Bold';
    src: url('../fonts/archer/Archer-Bold-Pro.otf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

h1, .h1 {
    font-size: 36px;
    font-family:'EurostileLTPro-BoldEx2';
}

h2, .h2 {
    font-size: 33px;
    font-family:'EurostileLTPro-BoldEx2';
}


h3, .h3 {
    font-size: 30px;
}


h4, .h4 {
    font-size: 27px;
}


h5, .h5 {
    font-size: 24px;
}


h6, .h6 {
    font-size: 21px;
}
